<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">

    <!--<p>{{ message }}</p>-->

    <ol>
        <li v-for="item in list">{{ item }}</li>
    </ol>

    <button v-on:click="handClick">Click</button>

    <p>{{ message }}</p>
    <input v-model="message">

    <p>{{ count }}</p>
    <input v-model.number="count">

    <p v-if="show">Hello Vue.js!</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
<script src="run.js"></script>
</body>
</html>